simulation_results/
output.del
anlaysis_tools/__pycache__/
simulation_results/animation.mp4
simulation_results/planet.png
simulation_results/planetbefore.png
simulation_results/test_planet/dm_particles_0.hdf5
simulation_results/test_planet/dm_particles_1.hdf5
simulation_results/test_planet/dm_particles_2.hdf5
simulation_results/test_planet/dm_particles_3.hdf5
simulation_results/test_planet/dm_particles_4.hdf5
simulation_results/test_planet/dm_particles_5.hdf5
simulation_results/test_planet/dm_particles_6.hdf5
simulation_results/test_planet/dm_particles_7.hdf5
simulation_results/test_planet/dm_particles_8.hdf5
simulation_results/test_planet/dm_particles_9.hdf5
simulation_results/test_planet/dm_particles_10.hdf5
simulation_results/test_planet/dm_particles_11.hdf5
simulation_results/test_planet/dm_particles_12.hdf5
simulation_results/test_planet/dm_particles_13.hdf5
simulation_results/test_planet/dm_particles_14.hdf5
simulation_results/test_planet/dm_particles_15.hdf5
simulation_results/test_planet/dm_particles_16.hdf5
simulation_results/test_planet/dm_particles_17.hdf5
simulation_results/test_planet/dm_particles_18.hdf5
simulation_results/test_planet/dm_particles_19.hdf5
simulation_results/test_planet/dm_particles_20.hdf5
simulation_results/test_planet/dm_particles_21.hdf5
simulation_results/test_planet/dm_particles_22.hdf5
simulation_results/test_planet/gas_particles_0.hdf5
simulation_results/test_planet/gas_particles_1.hdf5
simulation_results/test_planet/gas_particles_2.hdf5
simulation_results/test_planet/gas_particles_3.hdf5
simulation_results/test_planet/gas_particles_4.hdf5
simulation_results/test_planet/gas_particles_5.hdf5
simulation_results/test_planet/gas_particles_6.hdf5
simulation_results/test_planet/gas_particles_7.hdf5
simulation_results/test_planet/gas_particles_8.hdf5
simulation_results/test_planet/gas_particles_9.hdf5
simulation_results/test_planet/gas_particles_10.hdf5
simulation_results/test_planet/gas_particles_11.hdf5
simulation_results/test_planet/gas_particles_12.hdf5
simulation_results/test_planet/gas_particles_13.hdf5
simulation_results/test_planet/gas_particles_14.hdf5
simulation_results/test_planet/gas_particles_15.hdf5
simulation_results/test_planet/gas_particles_16.hdf5
simulation_results/test_planet/gas_particles_17.hdf5
simulation_results/test_planet/gas_particles_18.hdf5
simulation_results/test_planet/gas_particles_19.hdf5
simulation_results/test_planet/gas_particles_20.hdf5
simulation_results/test_planet/gas_particles_21.hdf5
simulation_results/test_planet/gas_particles_22.hdf5
simulation_results/animation_jup.mp4
simulation_results/endplot.png
simulation_results/jupiterlike_planet/dm_particles_0.hdf5
simulation_results/jupiterlike_planet/dm_particles_1.hdf5
simulation_results/jupiterlike_planet/dm_particles_2.hdf5
simulation_results/jupiterlike_planet/dm_particles_3.hdf5
simulation_results/jupiterlike_planet/dm_particles_4.hdf5
simulation_results/jupiterlike_planet/dm_particles_5.hdf5
simulation_results/jupiterlike_planet/dm_particles_6.hdf5
simulation_results/jupiterlike_planet/dm_particles_7.hdf5
simulation_results/jupiterlike_planet/dm_particles_8.hdf5
simulation_results/jupiterlike_planet/dm_particles_9.hdf5
simulation_results/jupiterlike_planet/dm_particles_10.hdf5
simulation_results/jupiterlike_planet/dm_particles_11.hdf5
simulation_results/jupiterlike_planet/dm_particles_12.hdf5
simulation_results/jupiterlike_planet/dm_particles_13.hdf5
simulation_results/jupiterlike_planet/dm_particles_14.hdf5
simulation_results/jupiterlike_planet/dm_particles_15.hdf5
simulation_results/jupiterlike_planet/dm_particles_16.hdf5
simulation_results/jupiterlike_planet/dm_particles_17.hdf5
simulation_results/jupiterlike_planet/gas_particles_0.hdf5
simulation_results/jupiterlike_planet/gas_particles_1.hdf5
simulation_results/jupiterlike_planet/gas_particles_2.hdf5
simulation_results/jupiterlike_planet/gas_particles_3.hdf5
simulation_results/jupiterlike_planet/gas_particles_4.hdf5
simulation_results/jupiterlike_planet/gas_particles_5.hdf5
simulation_results/jupiterlike_planet/gas_particles_6.hdf5
simulation_results/jupiterlike_planet/gas_particles_7.hdf5
simulation_results/jupiterlike_planet/gas_particles_8.hdf5
simulation_results/jupiterlike_planet/gas_particles_9.hdf5
simulation_results/jupiterlike_planet/gas_particles_10.hdf5
simulation_results/jupiterlike_planet/gas_particles_11.hdf5
simulation_results/jupiterlike_planet/gas_particles_12.hdf5
simulation_results/jupiterlike_planet/gas_particles_13.hdf5
simulation_results/jupiterlike_planet/gas_particles_14.hdf5
simulation_results/jupiterlike_planet/gas_particles_15.hdf5
simulation_results/jupiterlike_planet/gas_particles_16.hdf5
simulation_results/jupiterlike_planet/gas_particles_17.hdf5
simulation_results/jupiterlike_planet/gravity_particles_0.hdf5
simulation_results/jupiterlike_planet/gravity_particles_1.hdf5
simulation_results/jupiterlike_planet/gravity_particles_2.hdf5
simulation_results/jupiterlike_planet/gravity_particles_3.hdf5
simulation_results/jupiterlike_planet/gravity_particles_4.hdf5
simulation_results/jupiterlike_planet/gravity_particles_5.hdf5
simulation_results/jupiterlike_planet/gravity_particles_6.hdf5
simulation_results/jupiterlike_planet/gravity_particles_7.hdf5
simulation_results/jupiterlike_planet/gravity_particles_8.hdf5
simulation_results/jupiterlike_planet/gravity_particles_9.hdf5
simulation_results/jupiterlike_planet/gravity_particles_10.hdf5
simulation_results/jupiterlike_planet/gravity_particles_11.hdf5
simulation_results/jupiterlike_planet/gravity_particles_12.hdf5
simulation_results/jupiterlike_planet/gravity_particles_13.hdf5
simulation_results/jupiterlike_planet/gravity_particles_14.hdf5
simulation_results/jupiterlike_planet/gravity_particles_15.hdf5
simulation_results/jupiterlike_planet/gravity_particles_16.hdf5
simulation_results/jupiterlike_planet/gravity_particles_17.hdf5
simulation_results/test_planet/dm_particles_23.hdf5
simulation_results/test_planet/dm_particles_24.hdf5
simulation_results/test_planet/dm_particles_25.hdf5
simulation_results/test_planet/dm_particles_26.hdf5
simulation_results/test_planet/dm_particles_27.hdf5
simulation_results/test_planet/dm_particles_28.hdf5
simulation_results/test_planet/dm_particles_29.hdf5
simulation_results/test_planet/dm_particles_30.hdf5
simulation_results/test_planet/dm_particles_31.hdf5
simulation_results/test_planet/dm_particles_32.hdf5
simulation_results/test_planet/dm_particles_33.hdf5
simulation_results/test_planet/dm_particles_34.hdf5
simulation_results/test_planet/dm_particles_35.hdf5
simulation_results/test_planet/dm_particles_36.hdf5
simulation_results/test_planet/dm_particles_37.hdf5
simulation_results/test_planet/dm_particles_38.hdf5
simulation_results/test_planet/dm_particles_39.hdf5
simulation_results/test_planet/dm_particles_40.hdf5
simulation_results/test_planet/gas_particles_23.hdf5
simulation_results/test_planet/gas_particles_24.hdf5
simulation_results/test_planet/gas_particles_25.hdf5
simulation_results/test_planet/gas_particles_26.hdf5
simulation_results/test_planet/gas_particles_27.hdf5
simulation_results/test_planet/gas_particles_28.hdf5
simulation_results/test_planet/gas_particles_29.hdf5
simulation_results/test_planet/gas_particles_30.hdf5
simulation_results/test_planet/gas_particles_31.hdf5
simulation_results/test_planet/gas_particles_32.hdf5
simulation_results/test_planet/gas_particles_33.hdf5
simulation_results/test_planet/gas_particles_34.hdf5
simulation_results/test_planet/gas_particles_35.hdf5
simulation_results/test_planet/gas_particles_36.hdf5
simulation_results/test_planet/gas_particles_37.hdf5
simulation_results/test_planet/gas_particles_38.hdf5
simulation_results/test_planet/gas_particles_39.hdf5
simulation_results/test_planet/gas_particles_40.hdf5
simulation_results/test_planet/gravity_particles_0.hdf5
simulation_results/test_planet/gravity_particles_1.hdf5
simulation_results/test_planet/gravity_particles_2.hdf5
simulation_results/test_planet/gravity_particles_3.hdf5
simulation_results/test_planet/gravity_particles_4.hdf5
simulation_results/test_planet/gravity_particles_5.hdf5
simulation_results/test_planet/gravity_particles_6.hdf5
simulation_results/test_planet/gravity_particles_7.hdf5
simulation_results/test_planet/gravity_particles_8.hdf5
simulation_results/test_planet/gravity_particles_9.hdf5
simulation_results/test_planet/gravity_particles_10.hdf5
simulation_results/test_planet/gravity_particles_11.hdf5
simulation_results/test_planet/gravity_particles_12.hdf5
simulation_results/test_planet/gravity_particles_13.hdf5
simulation_results/test_planet/gravity_particles_14.hdf5
simulation_results/test_planet/gravity_particles_15.hdf5
simulation_results/test_planet/gravity_particles_16.hdf5
simulation_results/test_planet/gravity_particles_17.hdf5
simulation_results/test_planet/gravity_particles_18.hdf5
simulation_results/test_planet/gravity_particles_19.hdf5
simulation_results/test_planet/gravity_particles_20.hdf5
simulation_results/test_planet/gravity_particles_21.hdf5
simulation_results/test_planet/gravity_particles_22.hdf5
simulation_results/test_planet/gravity_particles_23.hdf5
simulation_results/test_planet/gravity_particles_24.hdf5
simulation_results/test_planet/gravity_particles_25.hdf5
simulation_results/test_planet/gravity_particles_26.hdf5
simulation_results/test_planet/gravity_particles_27.hdf5
simulation_results/test_planet/gravity_particles_28.hdf5
simulation_results/test_planet/gravity_particles_29.hdf5
simulation_results/test_planet/gravity_particles_30.hdf5
simulation_results/test_planet/gravity_particles_31.hdf5
simulation_results/test_planet/gravity_particles_32.hdf5
simulation_results/test_planet/gravity_particles_33.hdf5
simulation_results/test_planet/gravity_particles_34.hdf5
simulation_results/test_planet/gravity_particles_35.hdf5
simulation_results/test_planet/gravity_particles_36.hdf5
simulation_results/test_planet/gravity_particles_37.hdf5
simulation_results/test_planet/gravity_particles_38.hdf5
simulation_results/test_planet/gravity_particles_39.hdf5
simulation_results/test_planet/gravity_particles_40.hdf5
