simulation_results/animation_jup.mp4
simulation_results/binding_percentage.png
simulation_results/simulation_after.png
simulation_results/simulation_before.png
simulation_results/simulation_before7873.52458344 s.png
simulation_results/simulation_before16513.5245834 s.png
simulation_results/simulation_before25153.5245834 s.png
simulation_results/simulation_before33793.5245834 s.png
simulation_results/simulation_before42433.5245834 s.png
simulation_results/simulation_before51073.5245834 s.png
simulation_results/simulation_before59713.5245834 s.png
simulation_results/simulation_before68353.5245834 s.png
simulation_results/simulation_before76993.5245834 s.png
simulation_results/simulation_before85633.5245834 s.png
simulation_results/simulation_before94273.5245834 s.png
simulation_results/simulation_before102913.524583 s.png
simulation_results/testplanetanim.mp4
simulation_results/testplanetanimresonance.mp4
simulation_results/jupiterlike_planet/dm_particles_0.hdf5
simulation_results/jupiterlike_planet/dm_particles_1.hdf5
simulation_results/jupiterlike_planet/dm_particles_2.hdf5
simulation_results/jupiterlike_planet/dm_particles_3.hdf5
simulation_results/jupiterlike_planet/dm_particles_4.hdf5
simulation_results/jupiterlike_planet/dm_particles_5.hdf5
simulation_results/jupiterlike_planet/dm_particles_6.hdf5
simulation_results/jupiterlike_planet/dm_particles_7.hdf5
simulation_results/jupiterlike_planet/dm_particles_8.hdf5
simulation_results/jupiterlike_planet/dm_particles_9.hdf5
simulation_results/jupiterlike_planet/dm_particles_10.hdf5
simulation_results/jupiterlike_planet/dm_particles_11.hdf5
simulation_results/jupiterlike_planet/dm_particles_12.hdf5
simulation_results/jupiterlike_planet/dm_particles_13.hdf5
simulation_results/jupiterlike_planet/dm_particles_14.hdf5
simulation_results/jupiterlike_planet/dm_particles_15.hdf5
simulation_results/jupiterlike_planet/dm_particles_16.hdf5
simulation_results/jupiterlike_planet/dm_particles_17.hdf5
simulation_results/jupiterlike_planet/dm_particles_18.hdf5
simulation_results/jupiterlike_planet/dm_particles_19.hdf5
simulation_results/jupiterlike_planet/dm_particles_20.hdf5
simulation_results/jupiterlike_planet/gas_particles_0.hdf5
simulation_results/jupiterlike_planet/gas_particles_1.hdf5
simulation_results/jupiterlike_planet/gas_particles_2.hdf5
simulation_results/jupiterlike_planet/gas_particles_3.hdf5
simulation_results/jupiterlike_planet/gas_particles_4.hdf5
simulation_results/jupiterlike_planet/gas_particles_5.hdf5
simulation_results/jupiterlike_planet/gas_particles_6.hdf5
simulation_results/jupiterlike_planet/gas_particles_7.hdf5
simulation_results/jupiterlike_planet/gas_particles_8.hdf5
simulation_results/jupiterlike_planet/gas_particles_9.hdf5
simulation_results/jupiterlike_planet/gas_particles_10.hdf5
simulation_results/jupiterlike_planet/gas_particles_11.hdf5
simulation_results/jupiterlike_planet/gas_particles_12.hdf5
simulation_results/jupiterlike_planet/gas_particles_13.hdf5
simulation_results/jupiterlike_planet/gas_particles_14.hdf5
simulation_results/jupiterlike_planet/gas_particles_15.hdf5
simulation_results/jupiterlike_planet/gas_particles_16.hdf5
simulation_results/jupiterlike_planet/gas_particles_17.hdf5
simulation_results/jupiterlike_planet/gas_particles_18.hdf5
simulation_results/jupiterlike_planet/gas_particles_19.hdf5
simulation_results/jupiterlike_planet/gas_particles_20.hdf5
simulation_results/jupiterlike_planet/gravity_particles_0.hdf5
simulation_results/jupiterlike_planet/gravity_particles_1.hdf5
simulation_results/jupiterlike_planet/gravity_particles_2.hdf5
simulation_results/jupiterlike_planet/gravity_particles_3.hdf5
simulation_results/jupiterlike_planet/gravity_particles_4.hdf5
simulation_results/jupiterlike_planet/gravity_particles_5.hdf5
simulation_results/jupiterlike_planet/gravity_particles_6.hdf5
simulation_results/jupiterlike_planet/gravity_particles_7.hdf5
simulation_results/jupiterlike_planet/gravity_particles_8.hdf5
simulation_results/jupiterlike_planet/gravity_particles_9.hdf5
simulation_results/jupiterlike_planet/gravity_particles_10.hdf5
simulation_results/jupiterlike_planet/gravity_particles_11.hdf5
simulation_results/jupiterlike_planet/gravity_particles_12.hdf5
simulation_results/jupiterlike_planet/gravity_particles_13.hdf5
simulation_results/jupiterlike_planet/gravity_particles_14.hdf5
simulation_results/jupiterlike_planet/gravity_particles_15.hdf5
simulation_results/jupiterlike_planet/gravity_particles_16.hdf5
simulation_results/jupiterlike_planet/gravity_particles_17.hdf5
simulation_results/jupiterlike_planet/gravity_particles_18.hdf5
simulation_results/jupiterlike_planet/gravity_particles_19.hdf5
simulation_results/jupiterlike_planet/gravity_particles_20.hdf5
simulation_results/test_planet/dm_particles_0.hdf5
simulation_results/test_planet/dm_particles_1.hdf5
simulation_results/test_planet/dm_particles_2.hdf5
simulation_results/test_planet/dm_particles_3.hdf5
simulation_results/test_planet/dm_particles_4.hdf5
simulation_results/test_planet/dm_particles_5.hdf5
simulation_results/test_planet/dm_particles_6.hdf5
simulation_results/test_planet/dm_particles_7.hdf5
simulation_results/test_planet/dm_particles_8.hdf5
simulation_results/test_planet/dm_particles_9.hdf5
simulation_results/test_planet/dm_particles_10.hdf5
simulation_results/test_planet/dm_particles_11.hdf5
simulation_results/test_planet/dm_particles_12.hdf5
simulation_results/test_planet/dm_particles_13.hdf5
simulation_results/test_planet/dm_particles_14.hdf5
simulation_results/test_planet/dm_particles_15.hdf5
simulation_results/test_planet/dm_particles_16.hdf5
simulation_results/test_planet/dm_particles_17.hdf5
simulation_results/test_planet/dm_particles_18.hdf5
simulation_results/test_planet/dm_particles_19.hdf5
simulation_results/test_planet/dm_particles_20.hdf5
simulation_results/test_planet/dm_particles_21.hdf5
simulation_results/test_planet/dm_particles_22.hdf5
simulation_results/test_planet/dm_particles_25.hdf5
simulation_results/test_planet/dm_particles_26.hdf5
simulation_results/test_planet/dm_particles_27.hdf5
simulation_results/test_planet/dm_particles_28.hdf5
simulation_results/test_planet/dm_particles_29.hdf5
simulation_results/test_planet/dm_particles_30.hdf5
simulation_results/test_planet/dm_particles_31.hdf5
simulation_results/test_planet/dm_particles_32.hdf5
simulation_results/test_planet/dm_particles_33.hdf5
simulation_results/test_planet/dm_particles_34.hdf5
simulation_results/test_planet/dm_particles_35.hdf5
simulation_results/test_planet/dm_particles_36.hdf5
simulation_results/test_planet/dm_particles_37.hdf5
simulation_results/test_planet/dm_particles_38.hdf5
simulation_results/test_planet/dm_particles_39.hdf5
simulation_results/test_planet/dm_particles_40.hdf5
simulation_results/test_planet/dm_particles_41.hdf5
simulation_results/test_planet/dm_particles_42.hdf5
simulation_results/test_planet/dm_particles_43.hdf5
simulation_results/test_planet/dm_particles_44.hdf5
simulation_results/test_planet/dm_particles_45.hdf5
simulation_results/test_planet/dm_particles_46.hdf5
simulation_results/test_planet/dm_particles_47.hdf5
simulation_results/test_planet/gas_particles_0.hdf5
simulation_results/test_planet/gas_particles_1.hdf5
simulation_results/test_planet/gas_particles_2.hdf5
simulation_results/test_planet/gas_particles_3.hdf5
simulation_results/test_planet/gas_particles_4.hdf5
simulation_results/test_planet/gas_particles_5.hdf5
simulation_results/test_planet/gas_particles_6.hdf5
simulation_results/test_planet/gas_particles_7.hdf5
simulation_results/test_planet/gas_particles_8.hdf5
simulation_results/test_planet/gas_particles_9.hdf5
simulation_results/test_planet/gas_particles_10.hdf5
simulation_results/test_planet/gas_particles_11.hdf5
simulation_results/test_planet/gas_particles_12.hdf5
simulation_results/test_planet/gas_particles_13.hdf5
simulation_results/test_planet/gas_particles_14.hdf5
simulation_results/test_planet/gas_particles_15.hdf5
simulation_results/test_planet/gas_particles_16.hdf5
simulation_results/test_planet/gas_particles_17.hdf5
simulation_results/test_planet/gas_particles_18.hdf5
simulation_results/test_planet/gas_particles_19.hdf5
simulation_results/test_planet/gas_particles_20.hdf5
simulation_results/test_planet/gas_particles_21.hdf5
simulation_results/test_planet/gas_particles_22.hdf5
simulation_results/test_planet/gas_particles_25.hdf5
simulation_results/test_planet/gas_particles_26.hdf5
simulation_results/test_planet/gas_particles_27.hdf5
simulation_results/test_planet/gas_particles_28.hdf5
simulation_results/test_planet/gas_particles_29.hdf5
simulation_results/test_planet/gas_particles_30.hdf5
simulation_results/test_planet/gas_particles_31.hdf5
simulation_results/test_planet/gas_particles_32.hdf5
simulation_results/test_planet/gas_particles_33.hdf5
simulation_results/test_planet/gas_particles_34.hdf5
simulation_results/test_planet/gas_particles_35.hdf5
simulation_results/test_planet/gas_particles_36.hdf5
simulation_results/test_planet/gas_particles_37.hdf5
simulation_results/test_planet/gas_particles_38.hdf5
simulation_results/test_planet/gas_particles_39.hdf5
simulation_results/test_planet/gas_particles_40.hdf5
simulation_results/test_planet/gas_particles_41.hdf5
simulation_results/test_planet/gas_particles_42.hdf5
simulation_results/test_planet/gas_particles_43.hdf5
simulation_results/test_planet/gas_particles_44.hdf5
simulation_results/test_planet/gas_particles_45.hdf5
simulation_results/test_planet/gas_particles_46.hdf5
simulation_results/test_planet/gas_particles_47.hdf5
simulation_results/test_planet/gravity_particles_0.hdf5
simulation_results/test_planet/gravity_particles_1.hdf5
simulation_results/test_planet/gravity_particles_2.hdf5
simulation_results/test_planet/gravity_particles_3.hdf5
simulation_results/test_planet/gravity_particles_4.hdf5
simulation_results/test_planet/gravity_particles_5.hdf5
simulation_results/test_planet/gravity_particles_6.hdf5
simulation_results/test_planet/gravity_particles_7.hdf5
simulation_results/test_planet/gravity_particles_8.hdf5
simulation_results/test_planet/gravity_particles_9.hdf5
simulation_results/test_planet/gravity_particles_10.hdf5
simulation_results/test_planet/gravity_particles_11.hdf5
simulation_results/test_planet/gravity_particles_12.hdf5
simulation_results/test_planet/gravity_particles_13.hdf5
simulation_results/test_planet/gravity_particles_14.hdf5
simulation_results/test_planet/gravity_particles_15.hdf5
simulation_results/test_planet/gravity_particles_16.hdf5
simulation_results/test_planet/gravity_particles_17.hdf5
simulation_results/test_planet/gravity_particles_18.hdf5
simulation_results/test_planet/gravity_particles_19.hdf5
simulation_results/test_planet/gravity_particles_20.hdf5
simulation_results/test_planet/gravity_particles_21.hdf5
simulation_results/test_planet/gravity_particles_22.hdf5
simulation_results/test_planet/gravity_particles_23.hdf5
simulation_results/test_planet/gravity_particles_24.hdf5
simulation_results/test_planet/gravity_particles_25.hdf5
simulation_results/test_planet/gravity_particles_26.hdf5
simulation_results/test_planet/gravity_particles_27.hdf5
simulation_results/test_planet/gravity_particles_28.hdf5
simulation_results/test_planet/gravity_particles_29.hdf5
simulation_results/test_planet/gravity_particles_30.hdf5
simulation_results/test_planet/gravity_particles_31.hdf5
simulation_results/test_planet/gravity_particles_32.hdf5
simulation_results/test_planet/gravity_particles_33.hdf5
simulation_results/test_planet/gravity_particles_34.hdf5
simulation_results/test_planet/gravity_particles_35.hdf5
simulation_results/test_planet/gravity_particles_36.hdf5
simulation_results/test_planet/gravity_particles_37.hdf5
simulation_results/test_planet/gravity_particles_38.hdf5
simulation_results/test_planet/gravity_particles_39.hdf5
simulation_results/test_planet/gravity_particles_40.hdf5
simulation_results/test_planet/gravity_particles_41.hdf5
simulation_results/test_planet/gravity_particles_42.hdf5
simulation_results/test_planet/gravity_particles_43.hdf5
simulation_results/test_planet/gravity_particles_44.hdf5
simulation_results/test_planet/gravity_particles_45.hdf5
simulation_results/test_planet/gravity_particles_46.hdf5
simulation_results/test_planet/gravity_particles_47.hdf5
simulation_tools/__pycache__/__init__.cpython-311.pyc
simulation_tools/__pycache__/atmospheric_profiles.cpython-311.pyc
simulation_tools/__pycache__/create_atmosphere.cpython-311.pyc
simulation_tools/__pycache__/create_planet_and_atmosphere.cpython-311.pyc
simulation_tools/__pycache__/create_planet.cpython-311.pyc
